<html>
    <head>
        <title>LoL Stats</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></link>
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css"></link>
    </head>
    <body>
        <div class="ui inverted blue segment">   
            <div class="ui container secondary inverted blue menu">
                <div class="item">
                    <a href="/">
                        <h1>LoL Stats</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui main container">