<% include ./partials/header.ejs %>

<form class="ui big form" action="/summoner/" method="GET">
    <div class="two fields">
        <div class="field">
            <div class="field">
                <input type="text" name="name" placeholder="Search Summoner Name ...">
            </div>
        </div>
        <div class="field">
            <button class="ui big blue submit button">Search</button>
        </div>
    </div>
</form>


<% include ./partials/footer.ejs %>