.ui.main {
    margin-top: 7em;
    margin-bottom: 1em;
    padding: 
}

img {
    margin-bottom: 3em;
}

body {
    background-color: #f6f6f6;  
}

#blueTeam {
    color: #0f52ba;
}

#redTeam {
    color: #ED4337;
}

.test {
    width: 100px;
    height: auto;
    font-size: 0.85714286rem;
}